:host {
  height: 52px;
  width: 99vw;
  display: flex;
  position: sticky;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 4px 12px;
}

.login {
  margin: 10px;
  border: 1px solid #757575;
  border-radius: 5px;
  height: 36px;
  white-space: nowrap;
  
  
  button {
    
    height: 24px;
    color: #106060;

    mat-icon {
      position: sticky;
      top: 24px;
      right: 0;
      border-radius: 50px;
      background: #f1f1f1;
    }
  }
}

.clear-btn {
  font: font(button);
  padding: 12px 16px;
  color: #757575;
  cursor: pointer;
  transition: color 150ms linear;

  &:hover {
    color: #242424;
  }
}

.loging {
  width: 180px;
  display: inline-flex;
  button {
    position: relative;
  }
}

.mat-mdc-text-field {
  align-items: center;
}

.top-bar {
  display: flex;
  width: calc(98vw);
  white-space: nowrap;
  
  .login-register {
    margin: 5px auto;
  }

  &__search-content {
    margin:10px auto;
    width: 70%;
    white-space: nowrap;
    
    &__search-field {
      margin-right: 12px;
      
    }
  }
  .navigation {
    display: inline-flex;
    align-items: center;
  }
  .nav-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms linear, padding 300ms linear;
    white-space: nowrap;
    color: #f7f7f7;
    img {
      width: 0px;
    }

    &:active {
      color: #e42600;
    }

    &:hover {
      color: #f1f1f1;
    }
  }

  //replace with curve image and it is gonna be logo link to home page
  .restaurant-title {
    margin-right: 10px;
    width: 180px;
    cursor: pointer;
  }
}


@media only screen and (max-width: 1024px) {
  .navigation{
    .restaurant-title {
      margin-right: 10px;
      width: calc(15vw);
      cursor: pointer;
    }
  }
}


@media only screen and (max-width: 768px) {
  .navigation{
  .restaurant-title {
    width: calc(10vw);
    cursor: pointer;
  }
}
  .login-register {
    display: flex;
    
  }

  .top-bar__search-content {
    margin:10px auto;
    width: 40%;
    display: grid;
    white-space: normal;
    
    &__search-field {
      white-space: normal;
      margin: 2px;
    }
    .hideonphone{
      display: none;
    }
  }

}

