@import '../../styles.scss';

:host {
  width: 540px;
  height: 400px;
}

.mat-mdc-form-field {
  width: 100%;
}

.login-window {
  display: grid;
  justify-content:center ;

  .title {
    margin: 40px 0;
    font-size: xx-large;
    white-space: nowrap;
    text-align: center;
  }

  .login-form {
    text-align: center;
    
  }

  .mdc-text-field{
    border-radius: 100px;
  }

  .buttons {
    height: 50px;
    margin-top: 40px;
    display: grid;
    gap: 12px;

    button {
      height: 45px;
      border-radius: 10px;
      border: 0.5px solid;
      border-color: #757575;
    }
  }
  
}

// .mat-checkbox:hover{
//   .mat-checkbox-frame{
//     background-color: white;
//   }
// }

.card-block{
  align-content: center;
  align-items: center;
  display: flex;
 
  justify-content: left;
  padding: 16px;
}

