:host {
  width: 540px;
  height: 400px;
}
.login-form {
  margin: 0 auto;
  text-align: center;
  width: 450px;
}
.mat-mdc-form-field {
  width: 100%;
}

.login-window {
  border-radius: 10px;
  padding: 20px;
}

.title {
  margin: 20px 0;
  text-align: center;
  font: font(headline-1);
}

.buttons {
  height: 50px;
  margin-top: 40px;
  display: flex;
  margin-left: 50px;
  button {
    height: 45px;
    width: 132px;
    border-radius: 10px;
    border: none;
    margin-right: 12px;
  }
}
